<!-- <ion-view title="{{room.name}}">
  <ion-content has-header="true" padding="true">
	</ion-content>
</ion-view> -->
<ion-view id="userMessagesView" title="{{ room.name }}">

	<div class="loader-center" ng-if="!doneLoading">
		<div class="loader">
			<i class="icon ion-loading-c"></i>
		</div>
	</div>

	<!-- Navbar Buttons -->
	<ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" href="#/tab/chats">{{ ::'CHAT' | translate }}</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear icon fa fa-th-large" ng-click="gotoDirectory()"></a>
  </ion-nav-buttons>

	<ion-content id="msgContainer" has-bouncing="!editing" scroll="!editing" class="has-header has-footer" delegate-handle="userMessageScroll" on-scroll="checkScroll()">

		<accordion close-others="false">
			<accordion-group ng-repeat="group in room.groupedMessages" is-open="group.open" id="{{ ::group.name }}">
				<accordion-heading>{{ ::group.name }}<i class="icon" ng-class="{'ion-chevron-down': !group.open, 'ion-chevron-up': group.open}"></i></accordion-heading>
				<div ng-repeat="message in group.items track by $index" class="message-wrapper" on-hold="onMessageHold($event, $index, message)" in-view-window="message in #msgContainer" id="{{ ::message.id }}">

					<div ng-if="currentUser.id !== message.ownerId">
						<img ng-click="viewProfile(message)" class="profile-pic left" 
						ng-src="{{ friends[message.ownerId].avatarThumbnail || 'images/profile.png' }}" onerror="onProfilePicError(this)" />
						<div class="chat-bubble left">
							<meta-msg class="message" msg="message" meta-option="messageOptions" scroll-handle="userMessageScroll">
							</meta-msg>
							<div class="message-detail">
								<!-- <span ng-click="viewProfile(message)" 
								class="bold">{{toUser.username}}</span>, -->
								<span am-time-ago="::message.created"></span>
								<!-- <a href="javascript:" ng-if="::message.isImg" ng-click="editImg(message)">{{ ::'EDIT' | translate }}</a> -->
							</div>
							<div class="actions royal">
								<span class="act-icon" href="javascript:" ng-click="editTags(message)"><i class="button-icon icon ion-pricetag"></i></span>
								<span class="act-icon" href="javascript:" ng-click="star(message)"><i class="button-icon icon" ng-class="isFavorite(message)"></i></span>
								<span class="act-icon" href="javascript:" ng-click="share(message)"><i class="button-icon icon ion-share"></i></span>
								<!-- <span class="act-icon" href="javascript:" ng-click="like(message)"><i class="button-icon icon ion-thumbsup" ng-class="{'outline': !isLike(message)}"></i></span> -->
							</div>
						</div>
					</div>

					<div ng-if="currentUser.id === message.ownerId">
						<!-- <img ng-click="viewProfile(message)" class="profile-pic right" 
						ng-src="http://ionicframework.com/img/docs/mcfly.jpg" onerror="onProfilePicError(this)" /> -->
						<div class="chat-bubble right">
							<meta-msg class="message" msg="message" meta-option="messageOptions" scroll-handle="userMessageScroll">
							</meta-msg>
							<div class="message-detail">
								<!-- <span ng-click="viewProfile(message)" 
								class="bold">{{currentUser.username}}</span>,  -->
								<span am-time-ago="::message.created"></span>
								<!-- <a href="javascript:" ng-if="::message.isImg" ng-click="editImg(message)">{{ ::'EDIT' | translate }}</a> -->
							</div>
							<div class="actions royal">
								<span class="act-icon" href="javascript:" ng-click="editTags(message)"><i class="button-icon icon ion-pricetag"></i></span>
								<span class="act-icon" href="javascript:" ng-click="star(message)"><i class="button-icon icon" ng-class="isFavorite(message)"></i></span>
								<span class="act-icon" href="javascript:" ng-click="share(message)"><i class="button-icon icon ion-share"></i></span>
								<!-- <span class="act-icon" href="javascript:" ng-click="like(message)"><i class="button-icon icon ion-thumbsup" ng-class="{'outline': !isLike(message)}"></i></span> -->
							</div>
						</div>
					</div>

					<div class="cf"></div>

				</div>
				<a class="accordion-toggle" ng-if="group.open" ng-click="collapseGroup(group)"><i class="icon ion-chevron-up"></i></a>
			</accordion-group>
		</accordion>
	</ion-content>

	<div ng-if="selectTime" class="trigger-func trigger-calendar">
		<datepicker ng-model="dt" class="well well-sm" ng-change="setDate(dt)"></datepicker>
	</div>

	<div class="notification" ng-if="notify">{{ notify }}</div>

	<form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
		<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
			<div class="footer-btn-wrap">
				<button class="button button-icon ion-plus footer-btn" type="button" ng-click="openMetaMenu()"></button>
			</div>
			<label class="item-input-wrapper">
				<textarea ng-model="input.text" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1024" www-trigger="triggerOptions" msd-elastic ng-trim="false"></textarea>
			</label>
			<div class="footer-btn-wrap">
				<button class="button button-icon ion-android-send footer-btn" type="submit" ng-disabled="!input.text || input.text === ''">
				</button>
			</div>
		</ion-footer-bar>
	</form>

	<!-- Image editing canvas -->
	<div class="canvas trigger-func" ng-if="editing" >
		<div class="wrapper">
			<canvas id="imgCanvas" drawing>
			</canvas>
			<div class="compelete-canvas" ng-click="completeEdit()">{{ ::'COMPLETE' | translate }}</div>
		</div>
	</div>

</ion-view>

<script id="metamenu.html" type="text/ng-template">
	<grid-menu>
		<div class="row">
	  	<div class="col tab-item" ng-click="choosePhoto()"><i class="icon ion-image"></i>{{ ::'SEND_PHOTO' | translate }}</div>
	  	<div class="col tab-item" ng-click="capturePhoto()"><i class="icon ion-camera"></i>{{ ::'CAPTURE_PHOTO' | translate }}</div>
	  	<div class="col tab-item" ng-click="captureVoice()"><i class="icon ion-mic-a"></i>{{ ::'VOICE_MESSAGE' | translate }}</div>
	  </div>
	  <div class="row">
	  	<div class="col tab-item" ng-click="captureVideo()"><i class="icon ion-ios-videocam"></i>{{ ::'CAPTURE_VIDEO' | translate }}</div>
	  	<div class="col tab-item" ng-click="capturePhoto()"></div>
	  	<div class="col tab-item" ng-click="captureVoice()"></div>
	  </div>
	</grid-menu>
</script>
<script id="rightMenu.html" type="text/ng-template">
	<side-panel>
		<ion-content>
			<ion-item class="bar bar-royal">{{ ::'MEMBERS' | translate }}</ion-item>
			<ion-item ng-click="getAllMessages()">
				{{ ::'ALL_MESSAGES' | translate }}
			</ion-item>
			<ion-item class="item-avatar" ng-click="filterByUser(currentUser)">
				<img ng-src="{{ currentUser.avatarThumbnail }}">
				{{ ::currentUser.username }}
			</ion-item>
			<ion-item class="item-avatar" collection-repeat="usr in joinerList"
				item-width="100%" item-height="60px" ng-click="filterByUser(usr)">
				<img ng-src="{{ usr.avatarThumbnail }}">
				{{ usr.username }}
			</ion-item>
			<datepicker ng-model="dateFilter.date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)" ng-change="filterByDate()"></datepicker>
		</ion-content>
	</side-panel>
</script>