<!-- <ion-view title="{{room.name}}">
  <ion-content has-header="true" padding="true">
	</ion-content>
</ion-view> -->
<ion-view id="userMessagesView" class="flip" cache-view="false" title="{{ room.name }}">

	<div class="loader-center" ng-if="!doneLoading">
		<div class="loader">
			<i class="icon ion-loading-c"></i>
		</div>
	</div>

	<!-- Navbar Buttons -->
	<ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" href="#/tab/chats">{{ ::'CHAT' | translate }}</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear icon fa fa-th-large" href="#/tab/directory/{{ room.id }}/article"></a>
  </ion-nav-buttons>

	<ion-content id="msgContainer" has-bouncing="!editing" scroll="!editing" class="has-header has-footer" delegate-handle="userMessageScroll">

		<accordion close-others="false">
			<accordion-group heading="{{ ::group.name }}" ng-repeat="group in room.groupedMessages" is-open="$last">
				<div ng-repeat="message in group.items track by $index" class="message-wrapper" on-hold="onMessageHold($event, $index, message)" in-view-window="message in #msgContainer">

					<div ng-if="currentUser.id !== message.ownerId">
						<img ng-click="viewProfile(message)" class="profile-pic left" 
						src="{{ friends[message.ownerId].avatarThumbnail || 'images/profile.png' }}" onerror="onProfilePicError(this)" />
						<div class="chat-bubble left">
							<meta-msg class="message" msg="message" meta-option="messageOptions" scroll-handle="userMessageScroll" linkinapp="2">
							</meta-msg>
							<div class="message-detail">
								<!-- <span ng-click="viewProfile(message)" 
								class="bold">{{toUser.username}}</span>, -->
								<span am-time-ago="message.created"></span>
								<a href="javascript:" ng-if="message.isImg" ng-click="editImg(message)">{{ ::'EDIT' | translate }}</a>
							</div>
						</div>
					</div>

					<div ng-if="currentUser.id === message.ownerId">
						<!-- <img ng-click="viewProfile(message)" class="profile-pic right" 
						ng-src="http://ionicframework.com/img/docs/mcfly.jpg" onerror="onProfilePicError(this)" /> -->
						<div class="chat-bubble right">
							<meta-msg class="message" msg="message" meta-option="messageOptions" scroll-handle="userMessageScroll" linkinapp="2">
							</meta-msg>
							<div class="message-detail">
								<!-- <span ng-click="viewProfile(message)" 
								class="bold">{{currentUser.username}}</span>,  -->
								<span am-time-ago="message.created"></span>
								<a href="javascript:" ng-if="message.isImg" ng-click="editImg(message)">{{ ::'EDIT' | translate }}</a>
							</div>
						</div>
					</div>

					<div class="cf"></div>

				</div>
			</accordion-group>
		</accordion>
	</ion-content>

	<div ng-if="selectTime" class="trigger-func trigger-calendar">
		<datepicker ng-model="dt" class="well well-sm" ng-change="setDate(dt)"></datepicker>
	</div>

	<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
		<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
			<div class="footer-btn-wrap">
				<button class="button button-icon ion-plus footer-btn" type="button" ng-click="openMetaMenu()"></button>
			</div>
			<label class="item-input-wrapper">
				<textarea ng-model="input.text" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1024" www-trigger="triggerOptions" msd-elastic ng-trim="false"></textarea>
			</label>
			<div class="footer-btn-wrap">
				<button class="button button-icon ion-android-send footer-btn" type="submit" ng-disabled="!input.text || input.text === ''">
				</button>
			</div>
		</ion-footer-bar>
	</form>

	<!-- Image editing canvas -->
	<div class="canvas trigger-func" ng-if="editing" >
		<div class="wrapper">
			<canvas id="imgCanvas" drawing>
			</canvas>
			<div class="compelete-canvas" ng-click="completeEdit()">{{ ::'COMPLETE' | translate }}</div>
		</div>
	</div>

	<script id="metamenu.html" type="text/ng-template">
		<grid-menu>
			<div class="row">
		  	<div class="col tab-item" ng-click="choosePhoto()"><i class="icon ion-image"></i>{{ ::'SEND_PHOTO' | translate }}</div>
		  	<div class="col tab-item" ng-click="capturePhoto()"><i class="icon ion-camera"></i>{{ ::'CAPTURE_PHOTO' | translate }}</div>
		  	<div class="col tab-item" ng-click="captureVoice()"><i class="icon ion-mic-a"></i>{{ ::'VOICE_MESSAGE' | translate }}</div>
		  </div>
		  <div class="row">
		  	<div class="col tab-item" ng-click="captureVideo()"><i class="icon ion-ios7-videocam"></i>{{ ::'CAPTURE_VIDEO' | translate }}</div>
		  	<div class="col tab-item" ng-click="capturePhoto()"></div>
		  	<div class="col tab-item" ng-click="captureVoice()"></div>
		  </div>
		</grid-menu>
	</script>
</ion-view>
