<ion-view>
	<ion-content class="files">
		<!-- Collection Repeat -->
		<flip-item collection-repeat="file in fileList" is-flipped="file.isFlipped"
			item-width="33.3%"
			item-height="120" ng-click="play(file)" on-hold="edit(file)">
			<div class="face front"><responsive-img img-src="{{ file.thumbUrl || file.typeImg }}"></responsive-img><i class="icon icon-top icon-right ion-pricetags" ng-if="file.tags && file.tags.length" ng-click=""></i><i ng-if="file.isVideo" class="button button-circle icon ion-play"></i></div>
			<div class="face back check-grey"><i class="checkbox-icon"></i></div>
		</flip-item>
	</ion-content>
</ion-view>

<script id="metamenu.html" type="text/ng-template">
	<grid-menu>
		<div class="row">
	  	<div class="col tab-item" ng-click="choosePhoto()"><i class="icon ion-image"></i>{{ ::'SEND_PHOTO' | translate }}</div>
	  	<div class="col tab-item" ng-click="capturePhoto()"><i class="icon ion-camera"></i>{{ ::'CAPTURE_PHOTO' | translate }}</div>
	  	<div class="col tab-item" ng-click="captureVoice()"><i class="icon ion-mic-a"></i>{{ ::'VOICE_MESSAGE' | translate }}</div>
	  </div>
	  <div class="row">
	  	<div class="col tab-item" ng-click="captureVideo()"><i class="icon ion-ios-videocam"></i>{{ ::'CAPTURE_VIDEO' | translate }}</div>
	  	<div class="col tab-item" ng-click=""></div>
	  	<div class="col tab-item" ng-click=""></div>
	  </div>
	</grid-menu>
</script>