<ion-view class="flip" hide-nav-bar="true">
	<div class="cover">
		<img id="coverImg" ng-src="{{ room.profile || 'images/dana.jpg' }}">
		<div class="name">{{ room.name }}</div>
		<a class="button button-clear icon ion-chatbubble-working" href="#/tab/room/{{ ::room.id }}"></a>
	</div>
	<ion-tabs class="tabs-striped tabs-royal tabs-top directory" delegate-handle="dirHandle">
		<ion-tab href="#/tab/directory/{{ ::room.id }}/article" title="{{ ::'ARTICLE' | translate }}">
			<ion-nav-view name="tab-article"></ion-nav-view>
		</ion-tab>
		<ion-tab href="#/tab/directory/{{ ::room.id }}/files" title="{{ ::'FILES' | translate }}">
			<ion-nav-view name="tab-files"></ion-nav-view>
		</ion-tab>
		<ion-tab href="#/tab/directory/{{ ::room.id }}/links" title="{{ ::'LINKS' | translate }}">
			<ion-nav-view name="tab-links"></ion-nav-view>
		</ion-tab>
		<!-- <ion-tab href="#/tab/directory/{{ ::room.id }}/calendar" title="{{ ::'CALENDAR' | translate }}">
			<ion-nav-view name="tab-calendar"></ion-nav-view>
		</ion-tab> -->
	</ion-tabs>
	<collapse-buttons class="button-royal">
		<a class="button button-royal icon ion-plus button-float add-one" expand-to="left" ng-click="addDir()"></a>
		<a class="button button-royal icon ion-pricetags button-float tags" expand-to="top" ng-click="filterTags()"></a>
	</collapse-buttons>
</ion-view>