<ion-view view-title="Calendar">
  <ion-content id="calendar-content" scroll="false" style="background-image: url('images/dana.jpg');background-size:cover">
	 	<!-- <div range-cal relink-event="rangeCalendar" lang='en' start-range-width='1' min-range-width='1' max-range-width='1'   theme='yellow-theme' range-change="changeDate"> 
	 	</div>
  	<input type="submit" value="Today" ng-click="reload()">
  	<div class="card" ng-repeat="event in displayEvents">
		  <div class="item item-divider item-{{event.type}}">
		    <strong>{{event.startDate | date:"a h:mm"}} {{event.title}}</strong>
		  </div>
		  <div class="item item-text-wrap">
		    {{event.notes}}
		  </div>
		</div> -->
		<next-calendar class="royal" selected="selectedDay" parent-container="calendar-content" events="displayEvents"></next-calendar>
  </ion-content>
	<collapse-buttons class="button-assertive">
		<a class="button button-royal icon icon-M button-float" expand-to="left" title="Month View" ng-click="change2MonthView()"></a>
		<!-- <a class="button button-royal icon icon-W button-float" expand-to="left" title="Week View" ng-click="change2WeekView()"></a> -->
		<a class="button button-royal icon icon-D button-float" expand-to="left" title="Day View" ng-click="change2DayView()"></a>
		<a class="button button-royal icon icon-T button-float" expand-to="left" title="Today" ng-click="change2Today()"></a>
	</collapse-buttons>
</ion-view>
