<ion-view cache-view="false" title="聊天">
	<ion-nav-buttons side="right">
    <button class="button button-icon ion-more" ng-click="goToCreateRoom()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar" collection-repeat="room in availableRoomList track by $index" type="item-text-wrap" ng-click="goToRoom(room.id)">
        <img ng-src="{{ room.profile || 'images/profile.png' }}">
        {{room.name}}
        <p>{{ room.latestMessage | brief }}</p>
        <span class="timestamp">{{ room.latestMessage.created | amChatCalendar }}</span>
        <span class="badge badge-assertive" ng-if="room.unread">{{ room.unread }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>