<ion-view cache-view="false" title="聊天">
	<ion-nav-buttons side="right">
    <button class="button button-icon ion-android-add" ng-click="openCreateRoom()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar" collection-repeat="room in availableRoomList track by $index" type="item-text-wrap" ng-click="goToRoom(room.id)">
        <img img-cache ng-src="{{ room.roomThumbnail || 'images/profile.png' }}" onerror="this.src='images/profile.png'">
        {{room.name}}
        <p>{{ room.lastMessage | brief }}</p>
        <span class="timestamp">{{ room.lastMessage.created | amChatCalendar }}</span>
        <span class="badge badge-assertive" ng-if="room.unreadCount">{{ room.unreadCount }}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>