<ion-view cache-view="false" title="好友">
	<ion-nav-buttons side="right">
    <button class="button button-icon ion-person-add" ng-click="showSearchFriendModal()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" collection-repeat="friend in friends" type="item-text-wrap" ng-click="friendChat(friend.id)">
        <img ng-src="{{ friend.avatarThumbnail || 'images/profile.png' }}">
        {{friend.username}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
