<ion-view title="聊天">
	<ion-nav-buttons side="right">
    <button class="button button-icon ion-chatbubble-working" ng-click="goToCreateRoom()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="room in availableRooms track by $index" type="item-text-wrap" href="#/tab/room/{{room.id}}">
        {{room.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>