<ion-view title="Account">
	<ion-content class="has-header padding">
		<div class="card">
			<div class="item item-divider">
				Account details
			</div>
			<div class="item item-thumbnail-left">
				<img img-cache ng-src="{{ avatarUrl || 'images/profile.png' }}" onerror="this.src='images/profile.png'" ng-click="openMetaMenu()">
				<p>Username: {{ currentUser.username }}</p>
				<p>Email: {{ currentUser.email }}</p>
				<p>Created: {{ currentUser.created | date:'medium' }}</p>
			</div>
		</div>
		<button class="button button-block button-energized icon ion-log-out" ng-click="logout()">
			Logout
		</button>
	</ion-content>
	<script id="metamenu.html" type="text/ng-template">
	<grid-menu>
	<div class="row">
	<div class="col tab-item" ng-click="chooseAvatar()"><i class="icon ion-image"></i>{{ ::'SEND_PHOTO' | translate }}</div>
	<div class="col tab-item" ng-click="captureAvatar()"><i class="icon ion-camera"></i>{{ ::'CAPTURE_PHOTO' | translate }}</div>
	</div>
	</grid-menu>
	</script>
</ion-view>
