/* fixes an ios bug bear */
button {
	&.ion-android-send {
  	padding-top: 2px;
  }
}

/* Bar Buttons */
.bar {
	.button {
		&.button-icon {
			&.footer-btn {
				&:before {
					font-size: $footerBtnIcon_font_size;
				}
			}
		}
	}
}

/* Float buttons */
.button-float {
  z-index: 12;
  position: fixed;
  border-radius: 50%;
  @include box-shadow( 0 2px 5px 0 rgba(0, 0, 0, 0.26) );
  @include translate3d(0, 0, 0);
  @include transition(0.2s linear);
  @include transition-property(transform, all);
  &.float-right {
  	right: 15px;
  }
  &.float-bottom {
  	bottom: 20px;
  }
  &.float-top {
  	top: 20px;
  }
  &.float-left {
  	left: 15px;
  }
  &:hover {
  	@include translate3d(0, -1px, 0);
  	@include box-shadow( 0 4px 8px 0 rgba(0, 0, 0, 0.4) );
    background: darken(#886aea, 10%);
  }
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 2px;
}