.cover {
	width: 100%;
	height: $directoryCover_height;
	position: relative;
	overflow: hidden;
	z-index: 17;
	img {
		width: 120%;
		top: -20px;
		left: -20px;
		bottom: -20px;
		right: -20px;
		position: absolute;
	}
	.name {
		position: absolute;
		padding: 5px 15px;
		color: $cover_font_color;
		font-size: $cover_font_size;
		bottom: 0;
		font-weight: 700;
	}
	.icon {
		position: absolute;
		top: 5px;
		right: 10px;
	}
}
.directory {
	// .scroll-content {
	// 	height: 65%;
	// }
}

/* Articles */
.item-avatar {
	.edit {
		position: absolute;
		top: 15px;
		right: 15px;
	}
}

/* Files */
.files {
	.img-wrapper {
		border: 2px solid $directoryFile_border_color;
	}
}

/* Links */
.item-link {
	margin: 5px 4px;
}