@import "jangular_variables";

/* Meta Message */
meta-msg {
	audio {
		width: 250px;
	}
	ion-spinner {
		display: none;
	}
}

/* Url View */
.url-view {
	background: $urlView_bg_color;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid $urlView_border_color;
	text-decoration: none;
	display: block;

	&:hover, &:active {
		text-decoration: none;
	}

	img {
		width: $urlViewImg_width;
		max-width: inherit;
		max-height: inherit;
	}
	h5 {
		color: $urlViewTitle_font_color;
	}
	p {
		color: $urlViewDescript_font_color;
		font-size: $urlViewDescript_font_size;
	}
	.comment {
		color: $urlViewComment_font_color;
		font-size: $urlViewComment_font_size;
	}
	h5, p, .comment {
		padding: 0 2px;
	}
}
// Left Image
.img-left {
	.url-view {
		height: 95%;
		.content {
			@include display-flex;
		}
		.graph {
			@include flex(1);
			display: inline-block;
			margin: 5px 5px 0 2px;
		}
		img {
			height: 100%;
		}
		.info {
			@include flex(4);
			display: inline-block;
			h5 {
				margin-top: 5px;
				margin-bottom: 2px;
				font-weight: 700;
			}
			p {
				margin: 0;
			}
		}
		.comment {
			margin: 3px 0 2px;
		}
	}
	&.brief {
		h5 {
			white-space: nowrap;
			overflow: hidden;
		}
		p {
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

/* Grid Menu */
grid-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 7;
	display: none;
}
.menu-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 7;
	background-color: rgba(0, 0, 0, 0.1);
}
.grid-menu {
	position: absolute;
	width: 100%;
	z-index: 8;
	background-color: $gridMenu_bg_color;
	// Position
	&.menu-top {
		top: 0;
	}
	&.menu-bottom {
		bottom: 0;
	}

	.row {
		margin: 0;
		.tab-item {
			color: $gridMenuTab_font_color;
		}
		.icon {
			margin-bottom: 5px;
		}
	}

	// Other themes
	&.royal {
		background-color: $gridMenuRoyal_bg_color;
		.row {
			.tab-item {
				color: $gridMenuTabRoyal_font_color;
			}
		}
	}
}
// Animations
.grid-menu.ng-enter, .grid-menu.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.grid-menu.ng-enter,
.grid-menu.ng-leave.ng-leave-active {
  opacity: 0;
}
.grid-menu.ng-leave,
.grid-menu.ng-enter.ng-enter-active {
  opacity: 1;
}
// Position top
.grid-menu.menu-top.ng-enter,
.grid-menu.menu-top.ng-leave.ng-leave-active {
  top: -50px;
}
.grid-menu.menu-top.ng-leave,
.grid-menu.menu-top.ng-enter.ng-enter-active {
  top: 0;
}
// Position bottom
.grid-menu.menu-bottom.ng-enter,
.grid-menu.menu-bottom.ng-leave.ng-leave-active {
  bottom: -50px;
}
.grid-menu.menu-bottom.ng-leave,
.grid-menu.menu-bottom.ng-enter.ng-enter-active {
  bottom: 0;
}

/* Collapse Buttons */
.collapse-buttons {
	position: fixed;
	z-index: 96;
	&.float-bottom {
		bottom: 15px;
		.button-float {
			bottom: 0;
		}

		&.float-left, &.float-right {
			.button-float.expand {
				@for $i from 1 through 4 {
					&.expand-left-#{$i}, &.expand-right-#{$i} {
				    .float-title {
							bottom: 120%;
							left: 0;
							height: 80%;
							line-height: 1.2;
							text-align: center;
						}
				  }
				}
			}
		}
	}
	&.float-right {
		right: 15px;
		.button-float {
			right: 0;
		}

		&.float-top, &.float-bottom {
			.button-float.expand {
				@for $i from 1 through 4 {
					&.expand-top-#{$i}, &.expand-bottom-#{$i} {
				    .float-title {
							top: 0;
							right: 120%;
							width: 250%;
							text-align: right;
						}
				  }
				}
			}
		}
	}
	&.float-top {
		top: 15px;
		.button-float {
			top: 0;
		}
	}
	&.float-left {
		left: 15px;
		.button-float {
			left: 0;
		}
	}
	.buttons-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.button-float {
		position: absolute;
		@include border-radius(50%);
		@include box-shadow( 0 2px 5px 0 rgba(0, 0, 0, 0.26) );
	  @include translate3d(0, 0, 0);
	  @include transition(0.2s ease-out);
	  @include transition-property(prefixed-for-transition(-webkit, transform), all);
	  width: 0;
	  height: 0;
	  padding: 0 10px;
	  &:hover {
	  	@include translate3d(0, -1px, 0);
	  	@include box-shadow( 0 4px 8px 0 rgba(0, 0, 0, 0.4) );
	    // background: darken($collapseBtnHover_bg_color, 10%);
	  }
		&.expand {
	    @include rotateZ(360deg);
	    z-index: 99;
	    @for $i from 1 through 4 {
	    	&.expand-left-#{$i} {
			    right: $collapseBtnPos_offset * $i;
	    	}
	    }
			@for $i from 1 through 4 {
				&.expand-top-#{$i} {
			    bottom: $collapseBtnPos_offset * $i;
			  }
			}
			@for $i from 1 through 4 {
				&.expand-right-#{$i} {
			    left: $collapseBtnPos_offset * $i;
			  }
			}
			@for $i from 1 through 4 {
				&.expand-bottom-#{$i} {
			    top: $collapseBtnPos_offset * $i;
			  }
			}
			.float-title {
				@include opacity(1);
			}
		}

		// Title
		.float-title {
			position: absolute;
			// background-color: rgba(136, 106, 234, 0.6);
			@include opacity(0);
	 		@include transition(all 0.8s ease-out);
			// color: $floatBtnTitle_font_color;
		}
	}
}

/* Flip Item */
.flip-container {
	position: relative;
	@include perspective(800px);
	width: 100%;
	height: 100%;
	.flip-item {
		position: absolute;
		width: 100%;
		height: 100%;
		@include transition(prefixed-for-transition(-webkit, transform) 0.5s);
		@include transform-style(preserve-3d);
		&.flipped {
			@include rotateX(-180deg);
			.front {
				z-index: 0;
			}
			.back {
				z-index: 2;
			}
		}
		.face {
			position: absolute;
			width: 100%;
			height: 100%;
			@include backface-visibility(hidden);
			&.front {
				z-index: 2;
			}
			&.back {
				@include rotateX(-180deg);
				color: $flipItemBackFace_font_color;
				background-color: $flipItemBackFace_bg_color;
				z-index: 0;
			}
		}
		// Tabs
		.tabs {
			&.tabs-icon-top {
				.tab-item {
					height: auto;
					margin: auto;
					font-size: $flipItemTab_font_size;
					&.activated {
						margin-top: auto;
						border-bottom: 0;
					}
					.icon {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

/* Image Viewer */
.modal {
	&.active {
		&.image-viewer {
			width: 100% !important;
			height: 100%;
			top: 0 !important;
			left: 0 !important;
			background-color: rgba(0, 0, 0, 0.75);
			.slider {
				height: 100%;
			}
			.scroll {
				height: 100%;
				white-space: nowrap;
			}
			.img-container {
				width: 100%;
				height: 100%;
				position: relative;
				display: inline-block;
			}
			img {
				max-width: 100%;
				max-height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				overflow: auto;
				position: absolute;
			}
			.close {
				position: fixed;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.3);
				color: white;
				text-align: right;
				padding: 10px 15px;
				width: 100%;
				opacity: .7;
			}
		}
	}
}

/* Center Image */
.img-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

/* Rich Articles */
.rich-article {
	// Textarea
	textarea {
		width: 100%;
		padding: 10px;
	}
	textarea, .textarea {
		margin: 5px 0;
	}
	// Image element
	.img-wrapper {
		display: inline-block;
		margin: 5px 5px 0 0;
		vertical-align: top;
		.close {
			@include opacity(.8);
			&.button-icon {
				padding: 0;
			}
		}
	}
	// Audio element
	.audio {
		width: 100%;
		padding: 5px;
		audio {
			width: 75%;
			display: inline-block;
		}
		.button-icon {
			&.icon:before {
				font-size: $richArticleAudioDel_icon_size;
				vertical-align: top;
				padding: 8px 5px;
			}
		}
	}
	// Video element
	.video {
		padding: 5px;
		position: relative;
		height: 200px;
		overflow: hidden;
		video {
			width: 100%;
		}
		.ion-play {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate3d(-50%, -50%, 0);
      border: 1px solid $videoIcon_color;
      @include border-radius(50%);
      font-size: $videoIcon_font_size;
      padding: 6px 12px;
      color: $videoIcon_color;
    }
		.close {
			@include opacity(.9);
			color: $richArticleVideoDel_icon_color;
			position: absolute;
			top: 5px;
			right: 0;
		}
	}
	.audio, .video {
		margin: 5px 0;
	}
	// Link element
	.link {
		position: relative;
		.close {
			position: absolute;
			top: 5px;
			right: 0;
			z-index: 9;
			@include opacity(.6);
			& + .close {
				right: 35px;
			}
		}
	}

	// Editable
	&.editable {
		.img-wrapper {
			margin: 5px 0 0 5px;
		}
		.link {
			width: 97%;
			margin: auto;
		}
	}
}

/* Side Panel */
.panel-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, .3);
	&.active {
		display: block;
	}
	&.has-header {
		top: 44px;
	}
}
.side-panel {
	position: absolute;
	top: 0;
	display: none;
	width: 66.7%;
	height: 100%;
	background-color: $sidePanel_bg_color;
	z-index: 1;

	.item {
		width: 100% !important;
		margin: -1px 0;
		border-width: 1px 0;
		&.bar {
			padding: 10px;
			background-color: $sidePanelHeaderBar_bg_color;
		}
		&.item-avatar {
			padding-left: 58px;
			min-height: 58px;
			img {
				max-width: $sidePanelAvatarImg_max_width;
				max-height: $sidePanelAvatarImg_max_width;
			}
		}
	}

	// Accordion
	.panel-group {
    margin: 0;
    .panel-heading {
      padding: 0;
    }
    .panel-body {
    	position: relative;
      padding: 0;
      min-height: 116px;
      overflow-y: auto;
      .item-checkbox {
      	padding-left: 45px;
      	.checkbox {
      		padding-left: 5px;
      	}
      }
    }
  }

	// Calendar
	.well {
		&.well-sm {
			.btn-sm {
				padding: 5px 5px;
			}
		}
	}

	// Animations
	&.ng-enter, &.ng-leave {
	  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	}
	// Left Panel
	&.side-panel-left {
		left: 0;
		@include box-shadow(1px 0 2px rgba(0, 0, 0, .3));
		&.ng-enter,
		&.ng-leave.ng-leave-active {
			@include translateX(-100%);
		  opacity: 0;
		}

		&.ng-leave,
		&.ng-enter.ng-enter-active {
			@include translateX(0);
		  opacity: 1;
		}
	}
	// Right Panel
	&.side-panel-right {
		right: 0;
		@include box-shadow(-1px 0 2px rgba(0, 0, 0, .3));
		&.ng-enter,
		&.ng-leave.ng-leave-active {
			@include translateX(100%);
		  opacity: 0;
		}

		&.ng-leave,
		&.ng-enter.ng-enter-active {
			@include translateX(0);
		  opacity: 1;
		}
	}
}

/* Group Tag */
.group-tag {
	text-align: center;
	margin: 10px auto;
	hr, .group-name {
		display: inline-block;
		vertical-align: middle;
	}
	hr {
		width: 25%;
		border-width: 2px;
		margin: 0 10px;
	}
	.group-name {
		background-color: $groupTagName_bg_color;
		font-weight: 700;
		color: $groupTagName_font_color;
		@include border-radius(20px);
		padding: 0px 12px;
	}
}

/* Page Collection */
[page-collection] {
	// position: absolute !important;
	// top: 0 !important;
	// left: 0 !important;
	// width: 100%;

	.right {
		right: 5px;
	}
}

/* Next Calendar */
$default_selected_color: #6b46e5;//#E3F2FF;
$default_secondary_color: white;//#6b46e5;//#2875C7;
$default_font_color: #6b46e5;//white;
$default_today_color: darken($default_font_color, 20%);
// Royal
$royal_selected_color: white;//#E3F2FF;
$royal_secondary_color: #6b46e5;//#2875C7;
$royal_font_color: white;
$royal_today_color: lighten($royal_secondary_color, 20%);

$spacing: 10px;
$icon_width: 60px;
$header_height: 60px;
@mixin vertical-centre ($height) {
  height: $height;
  line-height: $height !important;
  display: inline-block;
  vertical-align: middle;
}
@mixin theme($primary_color, $secondary_color, $selected_color, $today_color) {
	background-color: $secondary_color;
	& > div.header {
		color: $primary_color;
	}
	& > div.week {
		> span.day {
			color: $primary_color;
			&.today {
				// color: $today_color;
			}
			&.selected {
				color: $primary_color;
				.day-tag {
					background-color: $selected_color;
					color: $secondary_color;
				}
			}
		}
	}
	// Day View
	.months, .days {
		.cell {
			color: $primary_color;
			.bullet {
				background-color: $primary_color;
			}
			&.selected {
				background-color: $primary_color;
				color: $secondary_color;
				.bullet {
					background-color: $secondary_color;
				}
			}
		}
	}
}

.border-box {
	@include box-sizing(border-box);
}

next-calendar {
  float: left;
  display: block;
  @extend .border-box;
  // background: $secondary_color;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  @include theme($default_font_color, $default_secondary_color, $default_selected_color, $default_today_color);

  &.royal {
  	@include theme($royal_font_color, $royal_secondary_color, $royal_selected_color, $royal_today_color);
  }
  &:before {
  	display: block;
  	position: absolute;
  	content: ' ';
  	// background-image: url('../images/dana.jpg');
  	// background-size: cover;
  	@include filter(blur(8px));
  	@include opacity(0.6);
  	width: 100%;
  	height: 100%;
  }

  > div.header {
    position: relative;
    width: 100%;
    height: $header_height;
    // color: $font_color;
    text-align: center;
    font-size: 20px;
    
    > * { 
      @include vertical-centre($header_height);
    }
    
    > i {
      width: $icon_width;
      font-size: 1.5em;
      font-weight: bold;
      position: relative;
      @extend .border-box;
      padding: 0 $spacing;
      cursor: pointer;
      text-aling: center;
    }
    
    > i.fa-caret-left {
      float: left;
    }
    
    > i.fa-caret-right {
      float: right;
    }
    
    > span { 
      font-weight: bold;
      text-transform: uppercase;
      @extend .border-box;
      padding: 0 $spacing;
      text-align: center;
      color: inherit;
    }
  }
  > div.week {
    float: left;
    width: 100%;
    
    &:first-child {
      border-top: none;
    }
    
    > span.day {
      float: left;
      font-weight: 700;
      width: (100% / 7);
      @extend .border-box;
      font-size: 1.1em;
      text-align: center;
      @include vertical-centre(50px);
      cursor: pointer;
      // color: $font_color;
      position: relative;
      
      &:first-child {
        border-left: none;
      }
      
      &.today {
      	.day-tag {
      		font-size: 28px;
      		line-height: 1.2;
      	}
      }
      
      // &.selected {
      //   color: white;
      //   .day-tag {
      //   	background-color: $selected_color;
      //   	color: $secondary_color;
      //   }
      // }

      .day-tag {
      	position: absolute;
      	width: 75%;
      	height: 75%;
      	top: 50%;
      	left: 50%;
      	line-height: 2.4em;
      	@include translate3d(-50%, -50%, 0);
        @include border-radius(50%);
      }
    }
    
    & > span.day.different-month, &.names > span.day {
		  @include opacity(.6);
    }
  }
  .event-tags {
  	position: absolute;
  	width: 100%;
  	height: 20px;
  	bottom: 0;
  	padding: 5px;
  	.badge {
  		display: inline-block;
  		min-width: $monthViewEventTag_width;
  		width: $monthViewEventTag_width;
  		height: $monthViewEventTag_width;
  		vertical-align: top;
  		padding: 0;
  		& + .badge {
  			margin-left: 1px;
  		}
  	}
  }

  /* Day View */
  .months {
  	position: relative;
  	margin: 0;
  	padding: 0;
  	height: 40px;
  	.cell {
  		font-size: 14px;
  		font-weight: 100;
  		padding: 10px;
  		text-align: center;
  		.bullet {
  			display: none;
  			position: absolute;
  			left: 15px;
  			top: 17px;
  			height: 7px;
  			width: 7px;
  		}
  		.month-name {
  			font-weight: bold;
  			text-transform: uppercase;
  		}
  		&.current {
  			.bullet {
					display: block;
  			}
			}
  	}
  }
}
.icon-W {
	&:before {
		content: 'W';
	}
}
.icon-D {
	&:before {
		content: 'D';
	}
}
.icon-M {
	&:before {
		content: 'M';
	}
}
.icon-T {
	&:before {
		content: 'T';
	}
}

/* Range Calendar */
.range-calendar {
	padding: 0 0 10px !important;
	.months {
		margin-bottom: 2px !important;
	}
	.calendar {
		.cell {
			padding: 10px 15px !important;
		}
	}

	/* YELLOW COLOR  #ffc900 */

	&.yellow-theme-bg {background-color: $rangeCalendarYellowTheme_main_color;color: #fff ;border-color: rgba(255,255,255,0.3);}
	&.yellow-theme-color {color: $rangeCalendarYellowTheme_main_color ;}
	&.yellow-theme {
		.months {
			background-color: transparent;
			.cell {
				color: rgba(0, 0, 0, 0.6);
				.month-name { color: $rangeCalendarYellowTheme_main_color; }
				&:hover {
					.month-name {color: #888 ;}
				}
				&.selected {
					background-color: $rangeCalendarYellowTheme_main_color;
					.month-name {color: #fff ;}
					.bullet { background-color: #fff;}
				}
				.bullet { background-color: $rangeCalendarYellowTheme_main_color; }
				&.current .bullet { background-color: $rangeCalendarYellowTheme_main_color;}
			}
		}
		.calendar {
			background-color: transparent;
			.cell { 
				color: #888;
				&:hover {
					background: transparent;
					.day-number {color: #888 ;}
				}
				.day-number {color: $rangeCalendarYellowTheme_main_color ;}
				&.selected  {
					color: #fff;
					&:hover {background: none ;}
					.day-number {color: rgba(255, 255, 255, 1) ;}
				}
			}
		}
		.range-bar { background-color: $rangeCalendarYellowTheme_main_color ; }
	}
}
