/**
 * Style Sheet Variables for Jangular-UI components (Directives)
 *
 */

/* Colors */
$urlView_bg_color: #fff;
$urlView_border_color: #bdbdbd;
$urlViewTitle_font_color: #444;
$urlViewDescript_font_color: #767676;
$urlViewComment_font_color: #a1a1a1;

/* Font Size */

/* Layouts */
$urlViewImg_width: 100%;