/**
 * Style Sheet Variables for Jangular-UI components (Directives)
 *
 */

/* Colors */
// Url View
$urlView_bg_color: #fff;
$urlView_border_color: #bdbdbd;
$urlViewTitle_font_color: #444;
$urlViewDescript_font_color: #767676;
$urlViewComment_font_color: #a1a1a1;

// Grid Menu
$gridMenu_bg_color: rgba(136, 106, 234, 0.7);
$gridMenuTab_font_color: #fff;

// Collapse Buttons
$collapseBtnHover_bg_color: #886aea;

// Flip Item
$flipItemBackFace_bg_color: #777;
$flipItemBackFace_font_color: #fff;

// Rich Article
$richArticleVideoDel_icon_color: #bdbdbd;

// Side Panel
$sidePanel_bg_color: #fff;
$sidePanelHeaderBar_bg_color: lighten($royal, 10%);

// Group Tag
$groupTagName_bg_color: #bdbdbd;
$groupTagName_font_color: #fff;

// Range Calendar
$rangeCalendarYellowTheme_main_color: #ffc900; //#FFB400;

/* Font Size */
// Url View
$urlViewComment_font_size: 12px;
$urlViewDescript_font_size: 13px;

// Flip Item
$flipItemTab_font_size: 12px;

// Rich Article
$richArticleAudioDel_icon_size: 24px;

/* Layouts */
// Url View
$urlViewImg_width: 100%;
$urlViewLeftImg_width: 100px;

// Collapse Buttons
$collapseBtnPos_offset: 70px;

// Side Panel
$sidePanelAvatarImg_max_width: 25px;