.message {
  font-size: 14px;
  img {
    max-width: $messageImg_max_width;
    max-height: $messageImg_max_width;
    // Audio type
    &.audio {
      width: 85%;
      vertical-align: baseline;
      margin-right: 5px;
      & + .icon {
        font-size: $audioControlIcon_font_size;
      }
    }
  }
  .video-thumb {
    width: 100%;
    & + .ion-play {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate3d(-50%, -50%, 0);
      border: 1px solid $videoIcon_color;
      @include border-radius(50%);
      font-size: $videoIcon_font_size;
      padding: 6px 12px;
      color: $videoIcon_color;
    }
  }
  video {
    background-color: black;
  }
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
  &:last-child {
    margin-bottom: 10px;
  }

  // Actions
  .actions {
    .act-icon {
      i {
        padding: 0;
        &:before {
          font-size: $actIcon_font_size;
          padding: 2px 5px;
        }
        &.outline {
          @include text-shadow(-1px -1px 0 $royal, -1px 1px 0 $royal, 1px -1px 0 $royal, 1px 1px 0 $royal);
        }
      }
    }
  }
  .chat-bubble {
    &.left {
      .act-icon {
        .outline {
          color: $chatBubbleLeft_bg_color;
        }
      }
    }
    &.right {
      .act-icon {
        .outline {
          color: $chatBubbleRight_bg_color;
        }
      }
    }
  }
}

/* Unread Note */
.unread-note {
  text-align: center;
  padding: 10px;
  color: $unreadNote_font_color;
  hr {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    border-color: $unreadNote_border_color;
    margin: auto 5px;
  }
}

/* Message Container */
#msgContainer {
  .panel-group {
    margin: 0;
    .panel-heading {
      padding: 0;
    }
    .panel-body {
      padding: 0;
    }
  }
  ion-spinner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    stroke: #fff;
    svg {
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate3d(-50%, -50%, 0);
    }
  }
  .ion-play, .ion-pause {
    & + ion-spinner {
      width: 85%;
    }
  }
  video {
    & + .ion-play, .ion-pause {
      z-index: 2;
      & + ion-spinner {
        width: 100%;
      }
    }
  }
}

/* Grouping */
.accordion-toggle {
  width: 100%;
  display: block;
  padding: 10px 15px;
  i {
    float: right;
    margin-bottom: 5px;
  }
}

/* User */
.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

/* Chat Bubble */
.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: $chatBubbleLeft_bg_color;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: $chatBubbleLeft_bg_color;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: $chatBubbleRight_bg_color;
  color: #fff;
  float: right;
  margin-right: 5px;
}

.chat-bubble.right:before {
  background-color: $chatBubbleRight_bg_color;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

// Inline Notification
.notification {
  position: fixed;
  bottom: $chatNotification_bottom;
  color: $chatNotification_font_color;
  padding: 5px 15px;
  width: 100%;
  background-color: $chatNotification_bg_color;
  pointer-events: none; // Click through
}

// Canvas
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .compelete-canvas {
      position: absolute;
      bottom: 5px;
      left: 0;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      width: 100%;
      padding: 5px 15px;
      text-align: right;
    }
  }
  &.trigger-func {
    bottom: 40px;
  }
}