.metaMenu {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: $metaMenu_bg_color;
	z-index: 99;
	.row {
		margin: 0;
		.tab-item {
			color: $metaMenuTab_font_color;
		}
		.icon {
			margin-bottom: 5px;
		}
	}
}