.modal {
	&.active {
		display: block;
		&.transparent {
			background-color: rgba(255,255,255,0.8);
			.bar.bar-header.item-input-inset,
			.item.item-complex,
			.item.item-checkbox,
			.item-content {
			  background-color: transparent;
			}
		}
	}
	ion-content {
		&.scroll-content {
			&.ionic-scroll {
				&.has-header {
					&.has-footer {
						height: auto !important;
					}
				}
			}
		}
	}
	&.modal-center {
		width: 75%;
		min-height: 50px;
		height: 250px;
		left: 50%;
		top: 50%;
		@include translate3d(-50%, -50%, 0);
	}

	&.modal-center {
		border: 1px solid;
		border-color: $modalCenter_border_color;
		@include border-radius(5%);
		.scroll-content {
			margin-bottom: 0;
		}
	}
	.profile {
		position: relative;
		width: 100%;
		height: $modalProfile_height;
		border-bottom: 1px solid $modalProfile_border_color;
		.profile-bg {
			width: 100%;
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.thumbnail {
			position: absolute;
			left: 5%;
			top: $modalProfile_height;
			width: 50px;
			height: 50px;
			z-index: 99;
			@include translateY(-70%);
			@include border-radius(50%);
		}
		.name {
			position: absolute;
			right: 5%;
			bottom: 5px;
			color: #fff;
			font-size: $modalProfileName_font_size;
			@include text-shadow(0 0 3px rgba(0, 0, 0, .75));
		}
	}
	.actions {
		.tabs {
			position: relative;
			height: 100%;
			@include border-radius(0 0 9% 9%);
			.tab-item {
				padding: 10px 0 12px;
				font-size: $modalProfileAction_font_size;
				i {
					margin-bottom: 3px;
				}
			}
		}
	}
}

// Backdrop
.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}