.bar {
	&.bar-header {
		.button {
      &.button-clear {
        padding: 0 3px;
        &.icon {
    			&::before {
    				font-size: $navIcon_font_size;
    			}
        }
      }
		}
    &.item-input-inset {
      height: $inputBar_height;
      .item-input-wrapper {
        input {
          height: $searchInput_height;
        }
        & + .button-icon {
          margin-left: 5px;
          padding-left: 5px;
          line-height: 40px;
        }
      }
    }
	}
}

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
  .item-input-wrapper {
    margin: 0;
  }
  textarea {
    resize: none;
    height: 25px;
  }
}

.platform-ios {
  &.platform-cordova:not(.fullscreen) {
    .bar-header:not(.bar-subheader) {
      &.item-input-inset {
        .item-input-wrapper {
          margin: 5px !important;
        }
      }
      .button {
        margin-top: 0;
        margin-left: 0;
        &.button-icon {
          line-height: initial;
        }
      }
    }
  }
}