/* Chat Room List */
.item-avatar {
	.timestamp {
		position: absolute;
		right: 32px;
		top: 15px;
		color: $timestamp_color;
		font-size: $timestamp_fontSize;
	}
	.badge {
		top: initial;
		bottom: 16px;
	}
}