/* Chat Room List */
.item-avatar {
	.timestamp {
		position: absolute;
		right: 32px;
		top: 20px;
		color: $timestamp_color;
		font-size: $timestamp_fontSize;
	}
	.badge {
		top: inherit;
		bottom: 16px;
	}
}