.tabs-top,
.platform-ios.platform-cordova:not(.fullscreen) {
	.tabs-top {
		&.directory {
			& > .tabs {
				top: $directoryCover_height;			
			}
		}
	}
	.has-tabs-top {
		&:not(.has-header) {
			top: 49px;
			.scroll-content {
				top: 0;
			}
		}
	}
}

.tab-item {
	&.tab-assertive {
		background-color: $assertive;
	}
}