/* Colors */
$timestamp_color: #bdbdbd;
$cover_font_color: #fff;
$chatNotification_font_color: #fff;
$chatNotification_bg_color: rgba(0, 0, 0, 0.4);

/* Font Size */
$timestamp_fontSize: 10px;
$barButtonIcon_font_size: 24px;
$footerBtnIcon_font_size: 24px;
$audioControlIcon_font_size: 30px;
$navIcon_font_size: 24px;
$cover_font_size: 20px;

/* Layouts */
$directoryCover_height: 150px;
$searchInput_height: 36px;
$inputBar_height: 64px;
$chatNotification_bottom: 44px;