/* Colors */
$timestamp_color: #bdbdbd;
$metaMenu_bg_color: rgba(136, 106, 234, 0.7);
$metaMenuTab_font_color: #fff;

/* Font Size */
$timestamp_fontSize: 10px;
$footerBtnIcon_font_size: 24px;
$audioControlIcon_font_size: 30px;