/* Color */
$chatboxHeader_default_font_color: #333;
$chatbox_default_border_color: #b2b2b2;
$chatbox_default_bg_color: #f8f8f8;
$chatboxContent_default_bg_color: #fff;
// Message
$royal: #886aea;
$videoIcon_color: #fff;
$chatBubbleRight_bg_color: #C1B3ED;//#158ffe;
$chatBubbleLeft_bg_color: #e6e5eb;
$msgDetail_font_color: blueviolet;
$msgFile_border_color: #ddd;
$msgFileDetail_font_color: #888;
// Url View
$urlView_bg_color: #fff;
$urlView_border_color: #bdbdbd;
$urlViewTitle_font_color: #444;
$urlViewDescript_font_color: #767676;
$urlViewComment_font_color: #a1a1a1;

// Group Tag
$groupTagName_bg_color: #bdbdbd;
$groupTagName_font_color: #fff;


/* Layout */
$chatbox_default_width: 250px;
$chatbox_default_height: 250px;
$chatboxHeader_default_height: 25px;
$chatboxFooter_default_height: 32px;
// Message
$messageImg_max_width: 160px;
// Url View
$urlViewImg_width: 100%;
$urlViewLeftImg_width: 100px;


/* Fonts */
$chatboxFooterIcon_font_size: 18px;
// Message
$audioControlIcon_font_size: 30px;
$videoIcon_font_size: 28px;
$actIcon_font_size: 18px;
// Url View
$urlViewComment_font_size: 12px;
$urlViewDescript_font_size: 13px;
