<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-royal">
    <h1 class="title">{{ ::'MANAGE_TAGS' | translate }}</h1>
    <div class="buttons">
      <button class="button-icon icon ion-close" ng-click="closeTagsModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="{{ ::'SEARCH_OR_ADD_TAGS' | translate }}" ng-model="search.tag">
      </label>
      <button class="button button-clear button-icon icon ion-plus" ng-click="addTag()"></button>
    </div>
    <ion-list show-delete="true">
      <ion-item collection-repeat="tag in currentMsg.tags">
        <ion-delete-button class="ion-minus-circled" ng-click="removeTag($index)"></ion-delete-button>
        {{ tag }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>