<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-royal">
    <h1 class="title">{{ ::'ADD_ARTICLE' | translate }}</h1>
    <div class="buttons">
      <button class="button-icon icon ion-close" ng-click="closeModal()"></button>
      <button class="button-icon icon ion-checkmark" ng-click="saveArticle()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <rich-article ng-model="article.content" rich-option="articleOption" editable="editable"></rich-article>
  </ion-content>
  <ion-footer-bar>
  	<div class="buttons">
  		<!-- <button class="button-icon icon ion-happy"></button> -->
  		<button class="button-icon icon ion-image" ng-click="insertImg($event)"></button>
  		<button class="button-icon icon ion-film-marker" ng-click="captureVideo()"></button>
  		<button class="button-icon icon ion-headphone" ng-click="captureAudio()"></button>
  		<button class="button-icon icon ion-link" ng-click="editLink()"></button>
  		<!-- <button class="button-icon icon ion-ios-location"></button> -->
  	</div>
	</ion-footer-bar>
</ion-modal-view>

<script id="insertImgPopover.html" type="text/ng-template">
  <ion-popover-view class="row-1">
    <ion-content>
      <button class="button-icon icon ion-images" ng-click="chooseImgs()"></button>
      <button class="button-icon icon ion-camera" ng-click="captureImg()"></button>
    </ion-content>
  </ion-popover-view>
</script>